html,
body {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    min-width: 1200px;
    background: rgb(229,229,229);
}
a {
   outline: 0;
}
input::-moz-focus-inner { 
  border: 0; 
}
#yii-debug-toolbar {
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
}
.col-centered
{
    float: none;
    margin: 0 auto;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
.footer {
    height: 60px;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}   
.navbar-nav
{
    background: rgb(70,117,162);
}
.navbar
{
    background: rgb(70,117,162);
}
.top-bar
{
    height: 100px;
    line-height: 82px;
}
.top-logo
{
    height: 100%;
    background: rgb(48,71,113);
    color: white;
}
.top-rect
{
    height: 100%;
    background: rgb(66,124,227);
}
.logo
{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-left: 10px;
}
.logo h1
{
    font-size: 31px;
}
.logo a
{
    text-decoration: none;
    color: white;
}
.logo a:hover,
.logo a:focus 
{
    text-decoration: none;
    color: white;
}
.content
{
    min-height: 100%;
}
.side-nav
{
    min-height: 100%;
    height: 1000px;
    background: rgb(38,42,51);
}
.main-content
{
    min-height: 100%;
}
.side-nav > ul 
{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: -15px;
    margin-right: -27px;
}
.side-nav > ul > li 
{
    margin-right: -27px;
}
.side-nav > .nav
{
    margin-top: 30px;
}
.login 
{
    width: 90%;
    background-color: #304771;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
.nav > li > a
{
    border-radius: 0px;
}

.nav > li > a 
{
    text-decoration: none;
    background-color: #262A33;
    color: #3C4049;
    font-size: 20px;
}
.nav > li > a:hover,
.nav > li > a:focus 
{
    text-decoration: none;
    background-color: #262A33;
    color: #9B9FA8;
}
.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus 
{
    color: #9B9FA8;
    cursor: default;
    background-color: #1D2027;
    border-left: 5px solid #427CE3;
}
.glyphicon-user,.glyphicon-list-alt,.glyphicon-stats,.glyphicon-tags
{
    font-size: 45px;
}
.logout > li > a
{
    background-color: #304771;
    border: none;
    color: white;
    border-radius: 0;
    padding: 5px 10px;
}
.home-logo
{
    margin-top: 50px;
}
.data-module
{
    background: rgb(240,240,240);
    height: 100%;
}
.module-row-2
{
    
    
}
.areachart-module
{
    border-bottom: 2px solid #E5E5E5;
    border-bottom-width: 2px;
}
.pie-module
{
    border-top: 2px solid #E5E5E5;
    border-top-width: 2px;
    border-right: 2px solid #E5E5E5;
    border-right-width: 2px;
    padding-top: 20px;
    padding-bottom: 90px;
}
.rapidlyHiring
{
    border-top: 2px solid #E5E5E5;
    border-top-width: 2px;
    border-left: 2px solid #E5E5E5;
    border-left-width: 2px;
    padding-left: 50px;
    padding-right: 50px;
}
.rapidDrop
{
    padding-right: 25px;
}
.line-title
{
    margin-bottom: -18px;
}
.pie-list > ul > li
{
    list-style-type: none;
    border-bottom: 1px solid #CCCCCC;
}
.pie-list ul > li > .glyphicon
{
    font-size: 10px;
}
.pie-list ul > li > .glyphicon-triangle-top
{
    color: #60CED0;
}
.pie-list ul > li > .glyphicon-triangle-bottom
{
    color: #427CE3;
}
.pie-list > ul
{
    padding-left: 0;
}
.pie-list
{
    white-space: nowrap;
}
.month-change > ul
{
    margin-left: 30px;
    margin-right: 30px;
}
.footer-left
{
    height: 100%;
    background-color: #262A33;
}
.footer-right
{
    height: 100%;
}
.footer
{
    padding-top: 0;
    height: 50px;
}
.region-list > .col-sm-6 
{
    padding: 0;
}
.region-list > .control-label
{
    text-align: left;
    white-space:nowrap;
}
.register-submit
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.forgot-title
{
    margin-bottom: 40px;
}
.update-region-title
{
    margin-bottom: 40px;
}
.up-info-btn
{
    
}